@charset "UTF-8";

/* ------------------------------------------------------ CONFIGURAÇÕES DE RESET DE ESTILO ------------------------------------------------------ */

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}

/* ------------------------------------------------------------ ESTILIZANDO O NOSSO HTML -------------------------------------------------------- */
